rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() { return request.auth != null; }
    function isImage() { return request.resource.contentType.matches('image/.*'); }
    function isUnder8MB() { return request.resource.size < 8 * 1024 * 1024; }

    match /task-uploads/{uid}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == uid && isImage() && isUnder8MB();
    }
  }
}
